:root{
    --colorLightBlue: #E7F2FC;
    --colorBlue: #1F86DC;
    --colorBlue50: rgb(107, 187, 252);
    --colorWhite: #fff;
    --colorBlack70: rgb(4, 32, 54);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a.textBlue{
    text-decoration: none !important;
    transition: .4s color ease-in-out;
}
a.textBlue:hover{
    text-decoration: none !important;
    color: var(--colorBlack70) !important;
}
.bgLightBlue{
    background: var(--colorLightBlue);
}
.textBlue{
    color: var(--colorBlue) !important;
}
.textBlue50{
    color: var(--colorBlue50)  !important;
}
.textLightBlue{
    color: var(--colorLightBlue)  !important;
}
.bgBlue{
    background: var(--colorBlue);
}
.height100{
    height: 100vh;
}
.sizeSocialIcon{
    font-size: 1.8rem;
}
.single-post:hover{
    color: var(--colorBlue);
}
.single-post img:hover{
    transform: scale(1.1);
}
.titlePopulerPost{
    text-decoration: none;
    font-weight: bold;
    color: var(--colorBlack70);
}
.titlePopulerPost:hover{
    text-decoration: none;
    color: var(--colorBlue);
}
.carousel-caption a{
    text-decoration: none;
    width: 100%;
    padding: 0 10%;
    font-size: 1.4rem;
    border-radius: 10px;
    color: var(--colorWhite);
    background: rgb(0, 0, 0,.55) ;
}
.carousel-caption a:hover{
    text-decoration: none;
    width: 100%;
    color: var(--colorBlue50);
}
.singleCardAllPost a img:hover{
    transform: scale(.95);
}
footer .fab{
    font-size: 1.3rem;
    transition: .3s color ease-in-out;
}
footer .fab:hover{
    color: var(--colorBlack70);
}
.socialLinksFooter a{
    text-decoration: none;
}
/** Contact **/
.contact-form-custom{
    background: #fff;
    width: 100%;
}
.contact-form-custom .form-control{
    border-radius:1rem;
}
.contact-form-custom form{
    padding: 5% 2%;
}
.contact-form-custom .btnContact {
    width: 50%;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 1rem;
    padding: 1.5% 0;
    background: var(--colorBlue);
    font-weight: 600;
    color: var(--colorWhite);
    cursor: pointer;
}
.contact-form-custom .btnContact:hover{
    background: var(--colorBlack70);
    transition: .5s all ease-in-out;
}

@media screen  and (max-width: 768px){
    .navbar{
        position: absolute;
        width: 100%;
        z-index: 999;
    }
    .signUpTreeImageFix .col-md-6{
        position: absolute;
        z-index: 1;
        top: 30vh;
    }
    .signUpTreeImageFix .col-md-4{
        position: absolute;
        z-index: 2;
        top: 15vh;
    }
    .order1{
        order: 1;
        
    }
    .order2{
        order: 2;
    }
}